*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

@font-face {
    font-family: "Circe Regular";
    src: url(assets/fonts/circe-regular.woff) format(woff),
         url(assets/fonts/circe-regular.woff2) format(woff2);
}

@font-face {
    font-family: "Circe Bold";
    src: url(assets/fonts/circe-bold.woff) format(woff),
         url(assets/fonts/circe-bold.woff2) format(woff2);
}

@font-face {
    font-family: "Circe Extra Bold";
    src: url(assets/fonts/circe-extrabold.woff) format(woff),
         url(assets/fonts/circe-extrabold.woff2) format(woff2);
}

@media screen and (max-width:768px) {
    .menu {
        display: none;
    }

    .heading-section > .container > div {
        order: 1;
    }

    .heading-section__image {
        order: 2;
    }

    .heading-section__inner-wrap {
        flex-direction: column;
        gap: 42px;
    }

    .heading-section__buttons-wrap {
        flex-wrap: wrap;
        gap: 11px;
    }

    .heading-section__buttons-wrap button  {
        width: 100%;
    }

    h1, h2 {
        font-family: "Circe Extra Bold";
        font-size: 30px;
        line-height: 32px;
    }

    .heading-section__heading p {
        font-size: 16px;
        line-height: 16px;
        padding: 14px 0 20px;
    }

    .heading-section__grades-and-standart-wrap {
        flex-wrap: wrap;
        gap: 0;
    }

    .heading-section__perks {
        row-gap: 24px;
        align-items: flex-start;
    }

    .heading-section__perks li {
        max-width: 132px;
    }

    .catalog li {
        max-width: 132px;
    }

    .catalog__image {
        margin-bottom: 8px;
    }

    .catalog li .name {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 8px;
    }

    .catalog li .features {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 10px;
    }

    .catalog li .price {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 16px;
    }

    .swiper-slide, .swiper-image {
        width: 234px;
        height: 334px;
    }

    .certificates-section .container h2 {
        margin-bottom: 30px;
    }

    .certificates-section {
        overflow: hidden;
    }

    .certificates-section__buttons {
        display: none;
    }

    .swiper {
        overflow: visible;
    }
}

@media screen and (min-width:769px) {
    .button--menu {
        display: none;
    }

    .menu {
        display: flex;
    }

    .heading-section__inner-wrap {
        gap: 120px;
        justify-content: center;
    }

    .button--heading {
        width: 208px;
    }

    .heading-section__buttons-wrap {
        gap: 16px;
    }

    h1 {
        max-width: 604px;
    }

    h1, h2 {
        font-family: "Circe Extra Bold";
        font-size: 50px;
        line-height: 50px;
    }

    .heading-section__heading p {
        font-size: 20px;
        line-height: 20px;
        padding: 12px 0 38px;
    }

    .heading-section__buttons-wrap button  {
        width: 208px;
    }

    .heading-section__grades-and-standart-wrap {
        gap: 20px;
    }

    .heading-section__perks {
        align-items: center;
    }
    
    .heading-section__perks li {
        max-width: 175px;
    }

    .catalog li {
        max-width: 304px;
    }

    .catalog__image {
        margin-bottom: 28px;
    }

    .catalog li .name {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .catalog li .features {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 45px;
    }

    .catalog li .price {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .swiper-slide, .swiper-image {
        width: 304px;
        height: 434px;
    }

    .certificates-section .container h2 {
        margin-bottom: 50px;
    }

    .certificates-section__buttons {
        display: inline-block;
    }
}

body {
    font-family: "Circe Regular";
}

h2 {
    font-family: "Circe Extra Bold";
}

.container {
    width: 87.5%;
    margin: 0 auto;
}

.nav {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    width: 25px;
    height: 43px;
}

.logo-text {
    width: 95px;
    height: 22px;
}

.menu {
    align-items: center;
    gap: 40px;
    font-size: 14px;
    line-height: 21px;
}

.menu li {
    max-width: 192px;
}

.menu li:nth-child(5) {
    display: flex;
    gap: 10px;
}

.menu li:nth-child(5) > a {
    border: 2px solid #A2785C4D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 50%;
}

.menu li > a {
    color: #000000;
}

.menu li:nth-child(6) button {
    border: 2px solid #A2785C4D;
    border-radius: 3px;
    font-family: "Circe Extra Bold";
    color: #A2785C;
    padding: 10px 20px;
}

.menu li:nth-child(6) button:hover {
    background-color: #A2785C;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.half-opacity {
    opacity: 0.5;
}

.gold-color {
    color: #A2785C;
}

.social-logo {
    width: 17px;
    height: 17px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttons-wrap {
    display: flex;
    gap: 32px;
}

.button--cart, .cart-img {
    width: 30px;
    height: 27px;
}

.buttons-wrap button {
    position: relative;
}

.cart-quantity {
    font-family: "Circe Bold";
    position: absolute;
    top: -20%;
    left: 70%;
    width: 19px;
    height: 19px;
    background-color: #CE0909;
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.burger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger-menu__span {
    width: 26px;
    height: 2px;
    background-color: #A2785C;
    display: inline-flex;
}

.burger-menu--open .burger-menu__span:nth-child(1) {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.burger-menu--open .burger-menu__span:nth-child(2) {
    display: none;
    transition: all 1s ease-in-out;
}

.burger-menu--open .burger-menu__span:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
}

.heading-section {
    background-color: #F5F5F5;
    padding-top: 40px;
    color: #333333;
}

.heading-section__inner-wrap {
    display: flex;
}

.heading-section__image {
    display: flex;
}

.heading-section__grades-and-standart-wrap {
    display: flex;
    align-items: baseline;
}

.fireproof-grade > p, .fireproof-standarts > p {
    margin-bottom: 10px;
    line-height: 16px;
}

.fireproof-grade div span {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #CE0909;
    padding: 6px 10px;
    border-radius: 3px;
    display: inline-block;
}

.fireproof-standarts {
    margin-top: 14px;
    margin-bottom: 20px;
}

.fireproof-standarts .standarts {
    color: #CE0909;
}

.fireproof-standarts .standarts span {
    display: inline-block;
    border: 2px solid;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 14px;
}

.heading-section__buttons-wrap {
    display: flex;
}

.heading-section__buttons-wrap button {
    display: inline-block;
    font-family: "Circe Bold";
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    border-radius: 3px;
}

.button--order {
    background-color: #A2785C;
    color: #FFFFFF;
}

.button--order:hover {
    background-color: #FFFFFF;
    color: #A2785C;
    border: 1px solid #A2785C;
    transition: all 0.2s ease-in-out;
}

.button--catalog {
    color: #A2785C;
    border: 1px solid #A2785C;
}

.button--catalog:hover {
    background-color: #A2785C;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.heading-section__perks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0 98px;
}

.heading-section__perks li svg {
    width: 45px;
    height: 45px;
}

.heading-section__perks li p {
    margin-top: 15px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    margin: 50px 0 80px;
}

.catalog li {
    border: 1px solid #E6E6E6;
    text-align: center;
}

.catalog__image {
    width: 100%;
}

.catalog li .name {
    text-transform: uppercase;
    font-family: "Circe Bold";
}

.catalog li .price {
    font-family: "Circe Extra Bold";
}

.certificates-section {
    background: linear-gradient(271.84deg, #BDA074 -4.38%, #A2785C 100.93%);
}

.certificates-section .container {
    padding: 80px 0;
}

.certificates-section .container h2 {
    color: #FFFFFF;
}

.certificates-section__heading-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-swiper-prev, .btn-swiper-next {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.btn-swiper-prev > svg, .btn-swiper-next > svg {
    width: 10px;
    height: 10px;
    stroke: black;
}

.btn-swiper-prev:disabled, .btn-swiper-next:disabled {
    background-color: #FFFFFF;
}

.btn-swiper-prev:disabled > svg, .btn-swiper-next:disabled > svg {
    stroke: #999999;
}